nav {
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
}

.search-input {
    width: 280px;
}

.search-input span {
    background-color: #ffffff;
}

.search-input input {
    padding: 10px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #858585;
}

.login-button a {
    padding: 10px 20px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background-color: rgba(90, 79, 207, 0.1);
    color: #5A4FCF;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.nav-link {
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #5A4FCF;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 20px;
}

.nav-link-ltr:hover::before {
    width: 70px;
}